BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
NamespaceIndentation: All
